// COLORS
$color-primary: #f72585;
$color-primary-light: #f72585;
$color-primary-dark: #7209b7;

$color-secondary-light: #00a6fb;
$color-secondary-dark: #00b2ca;

$color-tertiary-light: #07beb8;
$color-tertiary-dark: #c4fff9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-new-dark-1: #171717;
$color-grey-new-dark-2: #1c1d1f;

$color-white: #fff;
$color-black: #000;

// $color-rgba-green: rgba(126, 213, 111, 0.8);
// $color-rgba-darkgreen: rgba(40, 180, 131, 0.8);

$color-rgba-green: #f72585;
$color-rgba-darkgreen: #7209b7;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small:6rem;
